**Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple**

In [11]:
# STRING
stringdata = " Hello PW "

#LIST
listdata = [1,2,43,4,5]

#FLOAT
floatdata = 3.454

#TUPLE
tupledata = (10,32,43,35)

Q2. Given are some following variables containing data:
- (i) var1 = ‘ ‘
- (**ii**) var2 = ‘[ DS , ML , Python]’
- (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
- (iv) var4 = 1
-What will be the data type of the above given variable.

(i) var1 = ‘ ‘
   - var1 is a string variable containing a single space character.

(ii) var2 = ‘[ DS , ML , Python]’
   - var2 is a string variable containing a string representation of a list, including square brackets and comma-separated elements.
   - It's worth noting that the elements inside the string are not valid Python syntax for a list because they are not surrounded by quotes.

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
   - var3 is a list variable containing string elements: 'DS', 'ML', and 'Python'.
   - The elements are properly surrounded by single quotes, making them valid string literals in Python.

(iv) var4 = 1
   - var4 is an integer variable containing the integer value 1.

**Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) (**)   **

Explanation -

/ operator is used for normal division

// operator is used for floor division

% operator is used to get the modulus (remainder)

** operator is used for exponential operation ( raised to power )

In [10]:
A = 10
B = 3

# (i) /
i = A/B   # division
print(i)

# (ii) %
ii = A%B  # modulus
print(ii)

# (iii) //
iii = A//B  #Floor division
print(iii)

# (iv) **
iv = A**B # Exponential
print(iv)

3.3333333333333335
1
3
1000

**Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.**

In [6]:
my_list = [1, 2.5, 'hello', True, [1, 2, 3], {'a': 1, 'b': 2}, (4, 5), None, 9.8, False]

for element in my_list:
    print(f"Element: {element}, Data Type: {type(element)}")

Element: 1, Data Type: <class 'int'>
Element: 2.5, Data Type: <class 'float'>
Element: hello, Data Type: <class 'str'>
Element: True, Data Type: <class 'bool'>
Element: [1, 2, 3], Data Type: <class 'list'>
Element: {'a': 1, 'b': 2}, Data Type: <class 'dict'>
Element: (4, 5), Data Type: <class 'tuple'>
Element: None, Data Type: <class 'NoneType'>
Element: 9.8, Data Type: <class 'float'>
Element: False, Data Type: <class 'bool'>

**Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.**

In [5]:
A = 100
B = 5

divisions_count = 0

while A % B == 0:
    A = A // B
    divisions_count += 1

if divisions_count > 0:
    print(f"100 was divisible by 5 by {divisions_count} times")
else:
    print(f"{A} is not divisible by {B}")

100 was divisible by 5 by 2 times

**Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.**

In [1]:
int_list = [i for i in range(1, 26)]

for num in int_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

**Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.**

Immutable Data Types:
Immutable data types are those whose state cannot be modified after creation. Any operation that appears to modify the data actually creates a new instance with the modified value, leaving the original data unchanged.

In [12]:
#EXAMPLE - STRING

string = "Hello"
string[0] = 'h'  # This will raise an error because strings are immutable

#EXAMPLE - TUPLES

tuple = (1, 2, 3)
tuple[0] = 4  # This will raise an error because tuples are immutable

TypeError: 'str' object does not support item assignment

Mutable Data Types:
Mutable data types, on the other hand, allow modifications to their contents after creation. This means that the state of the object can be changed without creating a new instance.

In [14]:
#EXAMPLE - LISTS
my_list = [1, 2, 3]
my_list[0] = 4  # This modifies the existing list
print(my_list)

#EXAMPLE - DICTIONARIES
my_dict = {'a': 1, 'b': 2}
my_dict['c'] = 3  # This adds a new key-value pair to the dictionary
print(my_dict)

[4, 2, 3]
{'a': 1, 'b': 2, 'c': 3}